html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --main-text-color: #757575;
    --title-text-color: #212121;
    --focus-color: #2196F3;
    --heigh-logo-color: black;
    --hero-background-color: #2F303A;  
    --hero-text-color: #FFFFFF;
    --footer-bcg-color: #2F303A;
    --footer-logo-color: white;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --nav-logo-web-color: #2196F3;
    --cards-bcg-color: white;
    --hero-button-fh-color: #188CE8; 
    --main-letter-spacing: 0.03em;

}
    
body{
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-text-color);
    background-color: white;
    letter-spacing: 0.03em;
    font-size: 14px;
    
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto; 
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* --------------header----------------- */
.ul.nav{
    display: flex;
   margin-left: 93px;
}

/* навигация */
.nav-navigation-list{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    
}
.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--heigh-logo-color);
    text-decoration: none;
    align-items: center;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}
.nav-logo-web{
    color: var(--nav-logo-web-color);
}
.site-nav{
    display: flex;
}


.nav-navigation{    
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-navigation.current{
    color: var(--focus-color);
}
.section-header{
    display: flex;
    align-items: center;
    
}
.header-border{
   border-bottom: 1px solid #ECECEC; 
}
.ul.nav .nav-navigation-list:not(:last-child){
    margin-right: 50px;
}
.nav-navigation:hover,
.nav-navigation:focus,
.link:hover, 
.link:focus{
    color: var(--focus-color);
}

/* -------------------------------Контакты------------------------------- */
.contact-section{
    display: flex;
    margin-left: auto;
    
}
.contact-section .contacts-list:not(:last-child){
    margin-right: 50px;
}
.contacts.link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contacts{
  display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    }
   
/* ----------------------------герой--------------------------------------- */
.hero{
    background-color: var(--hero-background-color);     
    text-align: center; 
        padding-top: 200px;
    padding-bottom: 200px;   
}

.hero-text{    
    width: 696px;
    margin-top: 0;
    
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.hero-button{
    padding: 10px 32px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--focus-color);
    color: var(--hero-text-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
.hero-button:hover,
.hero-button:focus{
    background-color: var(--hero-button-fh-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* --------------------другое--------------------- */
.ul{
    list-style: none;
}


/* преимущества */
.ul.exelents-list{
    display: flex;
}

.exelents-list-item{
    width: 270px;
}
.exelents-list-item:not(:last-child){
   margin-right: 30px;
}
.exelents-title{
    font-weight: 700;
    line-height: 1.14;
    color: var(--title-text-color);
    letter-spacing: var(--main-letter-spacing);
    font-size: 14px;
    text-transform: uppercase;

    
    margin-bottom: 10px;
}
.exelents-text{
    line-height: 1.71;
    font-weight: 400;
}

/* -----------------what we do-------------- */
.what-we-do{
    padding-top: 0;
}
.what-we-do-list{
    display: flex;
}
.what-we-do-item{
    display: block;
}
.what-we-do-item:not(:last-child){
    margin-right: 30px;
}
.what-we-do-title{    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
/* -------------------------наша команда ------------------------*/
.our-team{
    background-color: #F5F4FA;
}
.our-team-list{
    display: flex;
}
.our-team-item{
    width: 270px;
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team-img{
    display: block;
    margin-bottom: 30px;
}

.our-team-item:not(:last-child){
    margin-right: 30px;
}
.our-team-title{
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    letter-spacing: var(--main-letter-spacing);
}
.our-team-name{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}
.our-team-position{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}

/* -----------------------------------Футер ----------------------------------*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bcg-color);
}
.footer-logo{
    display: block;
    
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--footer-logo-color);
    text-decoration: none;
    }
.footer-logo-web{
     color: var(--nav-logo-web-color);
}
.address{
    display: block;
    
}
.address-geography{    
    font-style: normal;
    line-height: 1.71;
    color: var(--hero-text-color);
    text-decoration: none;
}
.footer-contact{
    
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-contact-color);
    text-decoration: none;
   
}
.footer-list-item:not(:last-child){
    margin-bottom: 9px;
}
/* --------------------------Портфолио--------------------------- */


/* ----карточки------- */
.portfolio-progect-list{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-progect-item{
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.portfolio-progect-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-progect-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.project-cards {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-decoration: none;
    background-color: var(--cards-bcg-color);
    
    
}
.card-text{
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 24px 20px;
}
.project-title{
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    }
.project-type{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-weight: 400;
}



/* -----------кнопки------------- */
.portfolio-name{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
}

.hero-button,
.portfolio-button{
    cursor: pointer;
}

.portfolio-button{
    display: block;
    padding: 6px 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    border-color: transparent;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: var(--focus-color);
    color: var(--hero-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ul.button {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

.portfolio-button {
    display: block;
    border-radius: 4px;
}
.portfolio-button-item:not(:last-child){
    margin-right: 8px;
}